spring:
  datasource:
    url: jdbc:postgresql://dpg-d5ko0c6id0rc73aksatg-a:5433/ritsdatabase
    username: admin
    password: QvgozauylI11IctQqpLJnggU5Fe6bTgJ
    driver-class-name: org.postgresql.Driver
  jpa:
    show_sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate.format_sql: true

security:
  jwt:
    secret-key: ${JWT_SECRET}
    duration: ${JWT_DURATION}